<div class="target">    
    <div class="perfil">
        <figure>
            <img class="icon" src="/assets/imagenes/foto.png" alt="">
        </figure>
        <p class="name">{{detailClient.name}}</p>
        <img (click)="signOff()" class="logo" src="assets/iconos/salida.png" alt="">
        <div (click)="openStar()" class="estrella">
            <img class="star" src="assets/iconos/star_gold.png" alt="">
            <p class="prioridad">{{prioridad}}</p>
        </div>
        <img class="ajustes" (click)="perfil=true" src="assets/iconos/ajustes.png" alt="">
    </div>
    <div class="res">
        <p>Id cliente: {{detailClient.id_client}}</p>
        <p>Celular: {{detailClient.phone}}</p>
        <p>Campaña: {{campaing}}</p>
        <p>Medio: {{medio}}</p>
        <a class="email">correo: {{email}}</a>
        <p>Proyecto: {{project}}</p>
        <p>N° casa, lote, apt: {{interes}}</p>
    </div>
</div>
<app-edit-profile (newPerfilEvent)="closePerfil($event)" *ngIf="perfil"></app-edit-profile>
