<div class="container">
    <div class="welcome" [ngClass]="{'cardInactive': !status}">
        <div class="perfil">
            <img class="icon" src={{url}} alt="">
            <p>{{nameBusiness}}</p>
        </div>
        <div class="status" [ngClass]="{'on': status, 'off' : !status }" (click)="estado()">{{onOff}}</div>
        <div class="data">
            <p>Clientes: {{amountClient}}</p>
        </div>
        <img (click)="signOff()" class="exit" src="assets/iconos/salida.png" alt="">
    </div>
    <div class="dash">
        <app-moments style="margin-bottom: 10px;"></app-moments>
    </div>
    <div class="tabla">
        <app-tablas></app-tablas>
    </div>
</div>

<app-resumen-clientes *ngIf="modal"></app-resumen-clientes>


<app-form-one *ngIf="alerta"></app-form-one>

