<div class="container">
    <div class="box">
        <div class="checkbox">
            <img class="star" src="assets/iconos/star_gold.png" alt="">
        </div>
        <p class="producto">Nombre</p>
        <p class="producto">Email</p>
        <p class="categoria">Celular</p>
        <p class="stock">Fecha</p>
        <p class="und">Medio</p>
        <p class="basura">paso</p>
    </div>
    <div class="box lista" *ngFor="let client of litsClient" (click)="seeClient(client)">
        <div class="checkbox">
            <img class="star" src="assets/iconos/star_gold.png" alt="" *ngIf="client.prioridad > 0">
            <img class="star" src="assets/iconos/star_black.png" alt="" *ngIf="client.prioridad < 1">
            <span>Seleccionar</span>
        </div>
        <p class="producto">{{client.name}} <br> id: {{client.id_client}}</p>
        <p class="producto">{{client.email}}</p>
        <p class="categoria">{{client.phone}}</p>
        <p class="stock">{{client.date | date}} {{client.time}}</p>
        <p class="und">{{filterMedio(client.medio)}}</p>
        <div class="basura">{{client.level + 1}}</div>
    </div>
</div>