<div class="container" >
    <div class="ventana" (click)="closeModal()"></div>
    <form #formFiltro="ngForm" class="container2" [ngClass]="{open: estado}" (ngSubmit)="verResultados(formFiltro)">
        <div class="box_titulo">
            <p class="titulo">Categorias</p>
            <img src="assets/icons/cancelar.png" alt="" class="close" (click)="closeModal()">
        </div>
        <div class="box">        
            <div class="checkbox" *ngFor="let categoria of medios">
                <input type="checkbox" name={{categoria.id}} id={{categoria.id}} ngModel required [(ngModel)]="categoria.state">
                <label for={{categoria.id}}>{{categoria.name}}</label>
            </div>
        </div>
        <div class="box">     
            <div class="checkbox">
                <input type="checkbox" name="star" id="star" ngModel required [(ngModel)]="onStar">
                <label for="star">Clientes prioritarios</label>
            </div>
        </div>
        <button type="submit" [disabled]="!formFiltro.dirty">Filtrar</button>
    </form>
</div>