<div class="contenedor">
    <h1>{{ titulo }} ({{ idPasos }})</h1>
    <form class="p1" [formGroup]="infoPasos">
        <div class="box">
            <div class="info">
                <p>Fecha:</p>
                <input type="date" class="date" formControlName="fecha" />
            </div>
            <div class="info">
                <p>Hora:</p>
                <input type="time" class="date" formControlName="hora" />
            </div>
            <div class="info">
                <p>Medio:</p>
                <select name="" id="" formControlName="medio">
                    <option value="1">Whatsapp</option>
                    <option value="2">Llamada</option>
                    <option value="3">Correo</option>
                </select>
            </div>
            <div class="info">
                <p>Observaciones:</p>
                <textarea name="" id="" cols="40" rows="5" formControlName="observaciones"></textarea>
            </div>
        </div>
    </form>
    <div class="box4" [ngClass]="{'box5': !infoPasos.invalid}">
        <button [disabled]="infoPasos.invalid" (click)="sendForm(1)" class="boton">
            REMARKETING
        </button>
        <button [disabled]="infoPasos.invalid" (click)="sendForm(0)" class="boton">
            INTERACCION <br> AVANZAR PASO {{idPasos +1}}
        </button>
        <button [disabled]="infoPasos.invalid" (click)="sendForm(2)" class="boton">
            INTERACCION 
        </button>
    </div>
</div>