<div class="container" *ngIf="status">
    <div class="salesman">
        <h1>Vendedores</h1>
        <div class="box">
            <div class="card" *ngFor="let vendedor of vendedores"  [ngClass]="{'cardInactive': !vendedor.estado}">
                <div class="perfil">
                    <img class="icon" src={{vendedor.url}} alt="">
                    <p class="name">{{vendedor.name}}</p>
                </div>
                <div class="redes">
                    <p>CLIENTES: {{amountSalesman(vendedor.password!)}}</p>
                    <p *ngFor="let medio of itemsMedios">{{medio.name}}: {{amountMedios(vendedor.password, medio.id)}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="times">
        <p>estadisticas de horario</p>
        <div class="horas" *ngFor="let dia of semana; index as i">
            <p>{{dia.amount}}</p>
        </div>
    </div> -->
    <div class="list">
        <div class="informacion">
            <div class="clientes">
                <h2>Cargar clientes:</h2>
                <input type="file" accept=".xlsx,.xls" name="cargar" (change)="cargar($event)" class="load">
            </div>
            <ng-container *ngIf="redes.length">
                <h3>Cantidad de clientes: {{clientes.length}}</h3>
                <h3>Clientes repetidos: {{cantidad}}</h3>
            </ng-container>
        </div>
        <div class="medios" *ngIf="clientes.length">
            <ng-container *ngFor="let red of redes; index as i">
                <img class="medio" src={{icons[i].url}} alt="">
                <p>:{{red.length}}</p>
            </ng-container>
        </div>

        <div class="tabla" *ngIf="clientes.length">
            <p>lista de clientes</p>
            <table>
                <tr class="tittle">
                    <th>Nombre</th>
                    <th>Celular</th>
                    <th>Email</th>
                    <th>Campaña</th>
                    <th>Medio</th>
                    <th>Proyecto</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                </tr>
                <div class="scroll">
                    <tr *ngFor="let client of clientes">
                        <td>{{client.name}}</td>
                        <td>{{client.phone}}</td>
                        <td>{{client.email}}</td>
                        <td>{{filtercampaing(client.id_camp)}}</td>
                        <td>{{filterMedio(client.medio)}}</td>
                        <td>{{filterProject(client.project)}}</td>
                        <td>{{client.date}}</td>
                        <td>{{client.time}}</td>
                    </tr>
                </div>
            </table>
            <p>Clientes cargados: {{loadClients}}</p>
            <p>{{mensaje}}</p>
            <button (click)="loadClient()">Cargar clientes</button>
        </div>
        <div class="mensaje" *ngIf="!clientes.length && redes.length">
            <h3>No hay clientes disponibles para cargar.</h3>
            <img src="assets/icons/user-no.svg" alt="" class="icon_alert">
        </div>
    </div>
</div>

