<ng-container *ngFor="let paso of pasos; index as i" >
    <div class="contenedor" [ngClass]="{'nodisplay': !paso.state}" >
        <h1>{{paso.name}} ({{paso.id}})</h1>
        <div class="card" *ngFor="let data of resumenStep[i]">
            <p class="id">Id: <br> {{data.id}}</p>
            <div class="zonas">
                <h3>{{paso.name_a}}</h3>
                <p>Fecha: {{data.fecha_a | date}}</p>
                <p>Hora: {{data.hora_a}}</p>
            </div>
            <div class="zonas" *ngIf="paso.estatus === 1">
                <h3>{{paso.name_b}}</h3>
                <p>Fecha: {{data.fecha_b | date}}</p>
                <p>Hora: {{data.hora_a}}</p>
            </div>
            <div class="medio">
                <p>Medio: {{medio(data.medio)}}</p>
            </div>
            <div class="zonas">
                <p class="observaciones">Observaciones: {{data.observaciones}}</p>
            </div>
        </div>
    </div>
</ng-container>