*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    letter-spacing: 0.5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


::-webkit-scrollbar {
    width: 8px; /* Tamaño del scroll en vertical */
    height: 8px; /* Tamaño del scroll en horizontal */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 25px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }